# Arquivo requirements.txt para o Projeto de Reconhecimento de Pessoas

# Bibliotecas para processamento de imagens e visão computacional
opencv-python
face-recognition

# Biblioteca para interface gráfica
matplotlib

# Biblioteca para geração de voz (opcional)
pyttsx3
